<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        * {
            box-sizing: border-box;
        }
        html,
        body {
            padding: 0;
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }
        div.player {
            position: relative;
            background-color: #333d4b;
            width: 767px;
            height: 900px;
            overflow: hidden;
        }
        div.player::before {
            content: '';
            position: absolute;
            top: 365px;
            left: 180px;
            width: 100%;
            height: 150%;
            background: #F03434;
            transform: rotate(45deg);
        }
        div.player div.header {
            background-color: inherit;
            color: #ffffff;
            text-align: center;
            width: 100%;
        }
        div.player div.header h1 {
            padding: 10px 0;
            margin: 0;
            font-weight: 100;
        }
        div.player div.thumbnail {
            position: relative;
        }
        div.player div.thumbnail img {
            margin: 0 20px;
            width: calc(100% - 40px);
            height: auto;
            max-height: 400px;
            position: relative;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
        div.player div.infocontainer {
            position: relative;
            background-color: rgba(33,33,33,0.9);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            margin: 20px 20px 0 20px;
            width: calc(100% - 40px);
            color: #fff;
            z-index: 1;
        }
        div.player div.infocontainer div.info {
            padding: 25px 20px;
        }
        div.player div.infocontainer div.info p {
            border-top: 1px solid rgba(255,255,255,0.1);
            padding-top: 15px;
        }
        div.player div.controlls {
            position: relative;
            margin: 40px 20px 0 20px;
            width: calc(100% - 40px);
            text-align: center;
        }
        div.player div.controlls button {
            position: relative;
            background-color: inherit;
            border: 0;
            color: #fff;
            font-size: 2em;
            height: 50px;
            width: 50px;
            margin: 0 20px;
        }
        div.player div.controlls input#volume {
            margin-top: 25px;
        }
        div.player div.controlls button i {
            position: relative;
        }
        div.player div.controlls button:hover {
            cursor: pointer;
        }
        div.player div.controlls button.play::before {
            content: '';
            position: absolute;
            bottom: -50%;
            right: -50%;
            background-color: #333d4b;
            width: 200%;
            height: 200%;
            border-radius: 100%;
        }
    </style>
</head>
<body>
    <div class="player">
        <div class="header">
            <h1>now playing</h1>
        </div>
        <div class="thumbnail">
            <img id="tumb" alt="thumb" src="http://via.placeholder.com/767x400">
        </div>
        <div class="infocontainer">
            <div class="info">
                <h2 class="title" id="title"><%= data.title %></h2>
                <p>
                    <span class="artist" id="artist"><%= data.artist %></span>
                </p>
            </div>
        </div>
        <div class="controlls">
            <button class="back" onclick="fireEvent(0)"><i class="fa fa-backward" aria-hidden="true"></i></button>
            <button class="play" onclick="fireEvent(1)"><i id="pausePlay" class="fa fa-play" aria-hidden="true"></i></button>
            <button class="forward" onclick="fireEvent(2)"><i class="fa fa-forward" aria-hidden="true"></i></button><br>
            <input id="volume" type="range" min="0" max="100" onchange="changeVolume(event)" onblur="changeVolume(event)">
        </div>
    </div>
</body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io('http://localhost:8000');
</script>
<script>
    var playing = true;

    socket.on('currenttrack', function(msg){
      console.log('new data!', msg.data);
      document.getElementById('title').innerHTML = msg.data.title;
      document.getElementById('artist').innerHTML = msg.data.artist;
    });

    socket.on('sonosinfo', function (msg) {

    });

    socket.on('volume', function (msg) {
        document.getElementById('volume').value = "" + msg.data;
    });

    function fireEvent(n) {
        console.log(n);
        switch (n) {
            case 0:
                socket.emit('back');
                break;
            case 1:
                if (playing) {
                    socket.emit('pause');
                    document.getElementById('pausePlay').className = 'fa fa-pause';
                } else {
                    socket.emit('play');
                    document.getElementById('pausePlay').className = 'fa fa-play';
                }
                playing = !playing;
                break;
            case 2:
                socket.emit('forward');
                break;
        }
    }

    function changeVolume(val) {
        socket.emit('volumeChange', val.target.value);
    }
</script>
